@mixin all_chat () {
    align-self: flex-start;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: -5px;
    background-color: rgb(58, 57, 57);
    position: relative;
    z-index: 100;
}

@mixin left_chat () {
    position: relative;
    &::before{
        content: '';
        // width: ;
        // height  ;
        position: absolute;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid rgb(58, 57, 57);
        border-left: 15px solid transparent;
        top: 8px;
        left: -8px;
    }
}

@mixin right_chat () {
    align-self: flex-end;
    background-color: $blue;
    margin-left: 70px;
    position: relative;
    &::before{
        content: '';
        // width: ;
        // height  ;
        position: absolute;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $blue;
        border-left: 15px solid transparent;
        top: 8px;
        right: -8px;
        z-index: 5; 
    }
}

@mixin input {
    width: 80%;
    color: azure;
    outline: 0;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.589);
}